# Cloud level configuration
QUEUECONNECTION=<Service bus connection string>
STORAGECONNECTION= <Storage connection string>
PORT=<Application port. Default 8080>

# Intra service layer
AUTH_HOST=<Host of the Authentication service.>
STATION_URL=<user management url for dealing with station (pathways-service)>

POSTGRES_USER=<database user>
POSTGRES_HOST=<database host>
POSTGRES_PASSWORD=<database password>
POSTGRES_DB=<databse name. Probably gtfsflex>
POSTGRES_PORT=<postgres database port>
SSL=true


# Service bus topic and subscriptions
# Examples are given. Possible to change in future.
DATASVC_TOPIC=gtfs-pathways-data-service
VALIDATION_SUBSCRIPTION=gtfs-pathways-validation-result
VALIDATION_TOPIC=gtfs-pathways-validation